@import url("https://th.bing.com/th/id/OIP.2ipyciZc3yjfiBePI2p0QAHaF6?w=233&h=186&c=7&r=0&o=5&dpr=1.3&pid=1.7") * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

nav {
    position: fixed;
    background: #b25353;
    width: 100%;
    opacity: 0.8;
    padding: 4px 0;
    z-index: 12;
}

nav.menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu button {

    text-align: center;
}

.menu button {
    background-color: rgb(169, 118, 118);
    height: 25px;
    width: 90px;
    border-radius: 7px;
    border: none;
    margin: 0 5px;
    text-decoration: none;
    border: 2px solid rgb(169, 118, 118);
    font-size: 18px;
    float: right;
    color: #fff;
    font-weight: 200;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.menu button:hover {
    background-color: #fff;
    color: #5a2f2f;
}

.menu .logo a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 35px;
    font-weight: 700;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    background: rgb(169, 118, 118);
    padding: 4px 15px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background: #fff;
    color: #b25353;
}

.img {
    background: url(art.jpg)no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(69, 42, 42, 0.4);
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

.center.title {
    color: #fff;
    font-size: 55px;
    font-weight: 660;
}

.center.center {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.center.btns {
    margin-top: 20px;
}

.center.btns button a {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #a69393;
    font-size: 10px;
    float: none;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button a {
    text-decoration: none;
    outline: none;
    color: rgb(71, 70, 70);


}

.footer {
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgb(238, 115, 115);
}